<div class='rowWrapper'>
  <input type="checkbox" checked={{@file.isChecked}} onchange={{fn this.onChange @file}} />
  <p>{{@file.name}}</p>
  <p>{{@file.device}}</p>
  <p>{{@file.path}}</p>
  <p>{{@file.status}}</p>
</div>